@charset "UTF-8";

/** 1480px **/
@media(max-width:1480px){
  header {
    margin: 0 3.5vw;
  }
  .con1, .con2 {
    width: 100%;  
  }
}
/** 1023px **/
@media(max-width:1023px){
  header {
    height: 80px;
  }
  .logo {
    top: 20px;
  }
  .logo01 {
    font-size: 0.7rem;
  }
  .logo02 {
    font-size: 1.5rem;
  }
  .menu_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
  .menu {
    margin-top: 12vh;
  }
  .menu > li {
    display: block;
  }
  .menu > li > a {
    padding: 0;
    font-size: 5vw;
    line-height: 15vh; 
  }
  .m_menuBtn {
    display: block;
    z-index: 20;
  }
  .global_container {
    display: none;
  }
  .search_container {
    top: 30px;
    right: 50px;
  }
  .search_container a {
    font-size: 14px;
    border: none;
    padding: 0;  
  }
  .main_text {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  .more_container {
    display: block;
  }
  .more_container a{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
    transition: all .4s;
    letter-spacing: 1px;
  }
  .more_container a:hover {
    color: #333;
    background: #fff;
  }
}
/** 600px **/
@media(max-width:600px){
  .main_text {
    font-size: 30px;
    margin-bottom: 5px;
  }
}





